################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/grupo-oracion
/trabajos de la abila/Trabajo 3
/mauri
